<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teachermate.dao.SeatDao">

    <insert id="create" parameterType="Seat">
        insert into seat (courseId, seatArray, courseAddress)
        values (#{courseId}, #{seatArray}, #{courseAddress});
    </insert>

    <update id="update" parameterType="Seat">
        update seat
        set courseId      = #{courseId},
            seatArray     = #{seatArray},
            courseAddress = #{courseAddress}
        where id = #{id}
    </update>


</mapper>