<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teachermate.dao.SeatDao">

    <insert id="create" parameterType="Seat">
        insert into seat (courseId, seatArray, courseAddress)
        values (#{courseId}, #{seatArray}, #{courseAddress});
    </insert>

    <update id="update" parameterType="Seat">
        update seat
        set courseId      = #{courseId},
            seatArray     = #{seatArray},
            courseAddress = #{courseAddress}
        where id = #{id}
    </update>

    <sql id="selectSql">
        select *
        from seat;
    </sql>

    <select id="selectById" resultType="Seat">
        <include refid="selectSql"/>
        where id= #{id}
    </select>

    <select id="selectByCourseId" resultType="Seat">
        <include refid="selectSql"/>
        where courseId= #{courseId}
    </select>

    <select id="select" resultType="Seat">
        <include refid="selectSql"/>
        <where>
            <if test="#{courseId}!=null">courseId=#{courseId}</if>
        </where>
    </select>
</mapper>