<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teachermate.dao.SignDao">
    <insert id="create" parameterType="Sign" keyProperty="id" useGeneratedKeys="true">
        insert into sign (isGps, course_id)
        VALUES (#{isGps}, #{course_id});
    </insert>

    <update id="close" parameterType="int">
        update sign
        set close_time = now(),
            duration   = now() - date
        where id = #{id}
    </update>

    <update id="delete" parameterType="int">
        update sign
        set is_del = 1
        where id = #{id};
    </update>

    <sql id="select_sql">
        select *
        from sign
        where is_del = 0
    </sql>

    <select id="select_one" resultType="Sign" parameterType="int">
        <include refid="select_sql"/>
        and id = #{id};
    </select>

    <select id="select_list" resultType="Sign">
        <include refid="select_sql"/>
    </select>

    <select id="select" resultType="Sign" parameterType="Sign">
        <include refid="select_sql"/>
        <where>
            <if test="id!=null">and id = #{id}</if>
            <if test="date!=date">and date = #{date}</if>
            <if test="isGps!=isGps">and isGps = #{isGps}</if>
            <if test="id!=sign_student_count">and sign_student_count = #{sign_student_count}</if>
        </where>
    </select>

    <select id="selectSignInfo" resultType="SignInfo" parameterType="Integer">
        select DATE(date) as date, COUNT(*) as sum
        from sign
        WHERE course_id = #{course_id}
          and is_del = 0
        GROUP BY DATE(date)
        order by date desc;
    </select>

    <select id="selectSignInfoDetail" resultType="SignInfoDetail">
        select id, DATE_FORMAT(date, '%H:%i:%s') time, ratio, sign_student_count count, isGps
        from sign
        where DATE(date) = #{date}
          and course_id = #{course_id}
          and is_del = 0
        order by time desc;
    </select>

</mapper>