<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="
  http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
  http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
  http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd">

    <context:component-scan base-package="com.teachermate.controller">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <!-- 将静态资源的处理经由Spring MVC框架交回Web应用服务器处理 -->
    <!-- 解决html等静态资源文件被spingmvc拦截的问题-->
    <!--<mvc:default-servlet-handler />-->

    <mvc:resources location="/WEB-INF/pages/" mapping="/sxu/**"/>
    <mvc:resources location="/asserts/" mapping="/asserts/**"/>

    <!--mvc:annotation-driven只能出现一次-->
    <!-- 是spring MVC为@Controllers分发请求所必须的 -->
    <!--会自动注册DefaultAnnotationHandlerMapping与AnnotationMethodHandlerAdapter 两个bean,-->
    <mvc:annotation-driven content-negotiation-manager="contentNegotiationManagerFactoryBean" >
        <!--String返回值默认编码是ISO-8859-1，需要-->
        <mvc:message-converters>
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <constructor-arg value="UTF-8"/>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <!-- 拦截器，在过滤器之后执行 -->


    <!--配置返回值转换器-->
    <bean id="contentNegotiationManagerFactoryBean"
          class="org.springframework.web.accept.ContentNegotiationManagerFactoryBean">
        <!--是否支持后缀匹配-->
        <property name="favorPathExtension" value="false"/>
        <!--是否支持参数匹配-->
        <property name="favorParameter" value="false"/>
        <!--是否accept-header匹配-->
        <property name="ignoreAcceptHeader" value="false"/>
        <property name="mediaTypes">
            <map>
                <!--表示.json结尾的请求返回json-->
                <entry key="json" value="application/json"/>
            </map>
        </property>
    </bean>

    <!-- 解析器InternalResourceViewResolver来说，不管能不能解析它都不会返回null -->
    <!-- InternalResourceViewResolver 是jsp用的解析器，html时要用FreeMaker视图解析 -->
    <!-- 拦截了所有的逻辑视图，让后续的解析器得不到执行 -->
    <!-- 所以优先级必须设置为最低 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/sxu/"/>
        <property name="suffix" value=".html"/>

        <!-- 优先级 数目越小优先级越大 -->
        <property name="order" value="1"/>
    </bean>


</beans>